
version: "3.9"

services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama
    environment:
      - OLLAMA_CONTEXT_LENGTH=2048
      - OLLAMA_NUM_PARALLEL=1
      - OLLAMA_KEEP_ALIVE=30m
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage
    restart: unless-stopped

  rag-app:
    container_name: rag-app
    build: 
      context: .
      dockerfile: Dockerfile.rag
    
    depends_on:
     - ollama
     - qdrant

    volumes:
      - ./app:/app

    tty: true

    working_dir: /app
    command: tail -f /dev/null



volumes:
  ollama:
  qdrant_data:
